<!-- start custom head snippets -->
<link href="https://fonts.googleapis.com/css?family=Baloo|Lato:300,300i,700&amp;subset=latin-ext" rel="stylesheet">

<!-- Cal element-click embed code begins -->
<script type="text/javascript">
  (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if (typeof namespace === "string") { cal.ns[namespace] = cal.ns[namespace] || api; p(cal.ns[namespace], ar); p(cal, ["initNamespace", namespace]); } else p(cal, ar); return; } p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
  Cal("init", "quick-chat", { origin: "https://app.cal.com" });


  // Important: Please add the following attributes to the element that should trigger the calendar to open upon clicking.
  // `data-cal-link="tingeber/quick-chat"`
  // data-cal-namespace="quick-chat"
  // `data-cal-config='{"layout":"month_view","theme":"light"}'`

  Cal.ns["quick-chat"]("ui", { "theme": "light", "hideEventTypeDetails": false, "layout": "month_view" });
</script>
<!-- Cal element-click embed code ends -->
<script defer data-domain="tin.fyi" src="https://plausible.io/js/script.js"></script>

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#494e52">
<meta name="theme-color" content="#fefefe">

<!-- end custom head snippets -->