// Homepage-specific tweaks

body.layout--home {
  .archive__item-teaser {
    margin-bottom: 8px;
    max-height: 250px;

    @include breakpoint($large) {
      max-height: 500px;
    }
  }
}

article.home {
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 1em;
  margin-bottom: 40px;
  background-color: #fff;
}

.h2-article-home {
  margin-top: 1px;
}

body.layout--home .archive__item:hover {
  .archive__item-title {
    text-decoration: none;
  }
}

.notice-card {
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 1em;
  margin-bottom: 40px;
  background-color: #fff;
}
